<a href="https://colab.research.google.com/github/jpyanezn/BTE320/blob/main/BTE320_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

Customer_type = input('Enter customer type (n: new, e: existing): ')
deposit = float(input('enter deposit amount: '))


if Customer_type == 'n':
  ir = 3.0
else:
  if deposit > 10000:
    ir = 3.5
  elif deposit > 1000:
    ir = 3.25
  else:
    ir = 3.0

total = (1 + ir/100) * deposit
print(f'deposit at the end of year: {round(total, 2)}')

Enter customer type (n: new, e: existing): new
enter deposit amount: 20000
deposit at the end of year: 20700.0

In [ ]:
# Let's test the compound expression

x = 4
y = 8
z = 12

if x < y and x < z:
  print('x is least')
elif y < z:
  print('y is least')
else:
  print('z is least')

x is least

In [ ]:
base_fee = 5
hourly_fee = 2.5

for hour in range(1,9):
  fee = base_fee + hourly_fee * hour
  print(f'{hour} {fee}$')

1 7.5$
2 10.0$
3 12.5$
4 15.0$
5 17.5$
6 20.0$
7 22.5$
8 25.0$

In [ ]:
ticket = 10
no_advertising = 20
fixed_costs = 200


for advc in range(0,201,25):
  additional_attendees=2*round(advc**0.5)
  profit=(no_advertising+ticket+additional_attendees)*ticket-fixed_costs
  print(f'{advc} {profit}')

0 100
25 200
50 240
75 280
100 300
125 320
150 340
175 360
200 380

In [ ]:
while True:
  num1 = float(input('Enter first number: '))
  num2 = float(input('Enter second number: '))
  operator = input('Enter the operator: ')

  if operator == 'break':
    break

  if operator == "+":
    answer = num1 + num2
  elif operator == "-":
    answer = num1 - num2
  elif operator == "*":
    answer = num1 * num2
  elif operator == "/":
    answer = num1 / num2
  elif operator == "//":
    answer = num1 // num2
  elif operator == "**":
    answer = num1 ** num2
  elif operator == "%":
    answer = num1 % num2
  else:
    print('Invalid operator:', operator)
    continue
  print("Result: ", answer)

In [ ]:
s = 'This is a test'

s2 = 'This is another test!'

len(s)

14

In [ ]:
print(s[8])

a

In [ ]:
print(s[5:7:1])

is

In [ ]:
s = 'This is a test'
this_word = s[0:4]
test_word = s[10:14]
print(this_word, test_word)

This test

In [ ]:
s[0:4] == s[:4]

True

In [ ]:
s[13], s[len(s) -1], s[-1]

('t', 't', 't')

In [ ]:
s[:]

'This is a test'

In [ ]:
s[-4]

't'

In [ ]:
x = 10
if x > 5:
  print("Hello")
elif x < 15:
  print("World")
else:
  print("Python")

Hello

- If the interpreter finds a condition to be true, it ignores everything else.

In [ ]:
x = 5
while x > 0:
  print(x)
  x -= 1

5
4
3
2
1

In [ ]:
x = 10
if x < 5 or x % 2 == 0:
  print("A")
elif x < 15:
  print("B")
else:
  print("C")

A

In [ ]:
for i in range(5):
  if i == 3:
    continue
  print(i)

0
1
2
4

In [ ]:
x = 5
while x > 0:
  print(x)
  x += 1

In [ ]:
for i in range(1, 6):
  if i % 2 == 0:
    break
  print(i)

1

In [ ]:
s = 'This is another test'

this_s = s[:4]
print(this_s)
test_s = s[-4:]
print(test_s)
print(s[:])

This
test
This is another test

In case of using default values, like start or end, you can just omit that value.

In [ ]:
date = input('Enter a date (MM/DD/YYYY): ')

month = int(date[:2])
day = int(date[3:5])
year = int(date[6:])
print(month, day, year)

Enter a date (MM/DD/YYYY): 02/21/2024
2 21 2024

In [ ]:
L = [1, 'two', 3.0, print, [5, 7, 9]]
len(L)

5

In [ ]:
L + ['three']

[1, 'two', 3.0, <function print>, [5, 7, 9], 'three']

In [ ]:
L.pop(2)
L

[1, 'two', <function print>]

In [ ]:
L = []

number = int(input('Enter a value: '))
while number != 0:
  L.append(number)
  number = int(input('Enter a value: '))

print(L)

Enter a value: 3
Enter a value: 4
Enter a value: 5
Enter a value: 6
Enter a value: 0
[3, 4, 5, 6]

In [ ]:
l1 = [1,2,3,4]
l2 = [1,2,5,6]

for item in l1[:]:
  if item in l2:
    l1.remove(item)
l1

[3, 4]

In [ ]:
t = (1, 'two', 3.0)

t[3]

IndexError: tuple index out of range

In [ ]:
grades = {
    'Alice': 90,
    'Bob': 88,
    'Tracy': 93,
    'Matthew': 91
}

grades['Bob']

88

In [ ]:
grades = {
    'Alice': 90,
    'Bob': 88,
    'Tracy': 93,
    'Matthew': 91
}

grades['Megan'] = 95
grades

{'Alice': 90, 'Bob': 88, 'Tracy': 93, 'Matthew': 91, 'Megan': 95}

In [ ]:
grades['Tracy'] = 96
grades

{'Alice': 90, 'Bob': 88, 'Tracy': 96, 'Matthew': 91, 'Megan': 95}

In [ ]:
def fill(L):
  for i in range(10):
    L.append(i)
    if i%2 == 0:
      L.pop()
  print(L)


aList = []
fill(aList)

[1, 3, 5, 7, 9]

In [ ]:
def fill():
  L = []
  for i in range(10):
    L.append(i)
    if i%2 == 0:
      L.pop()
  print(L)

fill()

[1, 3, 5, 7, 9]

In [ ]:
def greeting(n):
  print(f'Hello {n}!')

name = input('Enter a name: ')
greeting(name)

Enter a name: Alice
Hello Alice!

In [ ]:
def add_num(a, b):
  c = a + b
  return c

x = 5
y = 6
c = add_num(x, y)
print(c)

11

In [ ]:
def add_num(a, b):
  c = a + b
  return c, c ** 2

x = 5
y = 6
c = add_num(x, y)
print(c[1])

121

In [ ]:
def add_num(a, b):
  c = a + b
  return c, c ** 2

x = 5
y = 6
c, c_sq = add_num(x, y)
print(c_sq)

121

In [ ]:
def add_num(a, b):
  return a + b

x = 5
y = 6
c = add_num(x, y)
print(c)

11

In [ ]:
def add_num(a, b):
  return a + b

x = 5
y = 6
c = add_num(a=x, b=y)
print(c)

11

This is to ensure there is no error when b is a list. List always go after the number, for example, a=5, b=list.

In [ ]:
def add_num(a, b):
  return a + b

x = 5
y = 6
c = add_num(x, b=y)
print(c)

11

Keyboard arguments should follow the positional argments. Positional arguments always go first. Also, default arguments should follow non-defult arguments.

In [ ]:
def getValues(n):
  weights = []
  if n < 3:
    print('Not enough weights')
    return None
  else:
    for i in range(n):
      weights.append(float(input('Enter a weight: ')))
    return weights[2:]

def calcAverage(alist):
    print(sum(alist) / len(alist))

n_weights = int(input('Enter number of weights to be added to the list: '))
calcAverage(getValues(n_weights))

Enter number of weights to be added to the list: 3
Enter a weight: 5
Enter a weight: 5
Enter a weight: 6
6.0

In [ ]:
allData = { # dictionary of values per country
    'US': {'pop':325.7, 'gdp': 19.39, 'ccy': 'USD', 'fx':  1.0},
    'CA': {'pop': 36.5, 'gdp':  1.65, 'ccy': 'CAD', 'fx':  1.35},
    'MX': {'pop':129.2, 'gdp':  1.15, 'ccy': 'MXN', 'fx': 19.68},
    }

while True:
  country_code = input('Please enter a country code (or type exit to stop): ')
  if country_code == 'exit':
    break
  if country_code not in allData.keys():
    print(f'This code does not exist: {country_code}')
    continue
  statistic = input('Please enter a statistic: ')
  if statistic not in allData[country_code].keys():
    print('Unknown statistic: {statistic}')
    continue

  if statistic == 'pop':
    print(f'Population: {allData[country_code][statistic]} million people.')
  elif statistic == 'gdp':
    print(f'GDP = {allData[country_code][statistic]} trillion USD')
  elif statistic == 'ccy':
    print(f'Currency: {allData[country_code][statistic]}.')
  else:
    print(f'FX = {allData[country_code][statistic]}.')

In [ ]:
def getParkingHours():
  hours = int(input('Enter number of hours to park: '))
  return hours

def calcParkingFee(h):
  fee = 2.5 * h

  if fee <= 6:
    return 6
  elif fee >= 20:
    return 20
  else:
    return fee

hours = getParkingHours()
fee = calcParkingFee(hours)
print(f'Total fee: ${fee}')

Enter number of hours to park: 6
Total fee: $15.0

In [ ]:
def calcTuition(credits):
  if credits >= 12:
    print(f'Tuition = {20000}$')
  elif credits >=1:
    print(f'Tuition = {1200 +1700 * credits}$')
  else:
    print('Invalid number of credits')

n_credits = int(input('Enter number of credits: '))
calcTuition(n_credits)

Enter number of credits: 12
Tuition = 20000$

In [ ]:
def countdown(n):
  while n >= 0:
    print(n)
    n = n - 1

countdown(5)

5
4
3
2
1
0

In [ ]:
def recursive_countdown(n):
  if n == 0:
    print(0)
  else:
    print(n)
    recursive_countdown(n-1)

recursive_countdown(5)

5
4
3
2
1
0

In [ ]:
def summation(n):
  s = 0
  while n >= 0:
    s = s + n
    n = n - 1
  return s

print(summation(5))

15

In [ ]:
def recursive_summation(n):
  if n == 0:
    return 0
  else:
    return n + recursive_summation(n-1)

print(recursive_summation(3))

6

In [ ]:
def fibR(n):
  if n == 0 or n == 1:
    return 1
  else:
    return fibR(n-1) + fibR(n-2)

for i in range(8):
  print(fibR(i), end=" ")

1 1 2 3 5 8 13 21

In [ ]:
def fact(n):
  p = 1
  while n >= 1:
    p = p * n
    n = n - 1
  return p

In [ ]:
def factR(n):
  if n == 1:
    return 1
  else:
    return n * factR(n-1)

In [ ]:
def reverse_string(s):
    if len(s) == 1:
        return s
    else:
        return reverse_string(s[1:]) + s[0]

test_string = "Hello"
reversed_string = reverse_string(test_string)
reversed_string

'olleH'

In [ ]:
def avg(alist):
  return sum(alist) / len(alist)

avg([1,2,3])

2.0

In [ ]:
l = [1,3,5,7,9]

try:
  idx = int(input('Enter index: '))
  print(l[idx])
except IndexError:
  print('Index value out of bounds!')
except ValueError:
  print('Indexes must be int')
else:
  print('Item found!')
finally:
  print('This will be displayed always!')

Enter index: 8
Index value out of bounds!
This will be displayed always!

In [ ]:
def avg(alist):
  try:
    print(sum(alist) / len(alist))
  except ZeroDivisionError:
    print('The list is empty!')
  except TypeError:
    print('The list must be numeric-only!')
  else:
    print('Average value found')
  finally:
    print('This is always displayed')


avg([])

The list is empty!
This is always displayed

In [ ]:
class Mortgage:
  def __init__(self, amount, maturity, interest):
    self.amount = amount
    self.maturity = maturity
    self.interest = interest

  def payment(self):
    B = self.amount
    n = self.maturity * 12
    r = self.interest / 100

    return B * (r * (1 + r) ** n) / ((1 + r) ** n - 1)

m = Mortgage(100000, 30, 6)

In [ ]:
m.payment()

6000.000004656286

In [ ]:
m.interest - 10

-4

In [ ]:
class Mortgage:
  def __init__(self, amount, maturity, interest):
    self.amount = amount
    self.maturity = maturity
    self.__interest = interest

  def get_interest(self):
    return self.__interest

  def set_interest(self, newInterest):
    if newInterest >= 0:
      self.__interest = newInterest
    else:
      print('Interest must be non-negative')


  def payment(self):
    B = self.amount
    n = self.maturity * 12
    r = self.__interest / 100

    return B * (r * (1 + r) ** n) / ((1 + r) ** n - 1)

m = Mortgage(100000, 30, 6)

In [ ]:
m.payment()

6000.000004656286

In [ ]:
m.get_interest()

6

In [ ]:
class point:
  def __init__(self, x, y):
    self.x = x
    self.y = y
  def distance(self, other):
    x_diff = (self.x - other.x) ** 2
    y_diff = (self.y - other.y) ** 2
    return (x_diff + y_diff) ** 0.5

p1 = point(3,4)
p2 = point(6,8)
print(p1.distance(p2))

5.0

In [ ]:
class Animal:
  def __init__(self, legs):
    print('Animal Created')
    self.legs = legs
  def whoAmI(self):
    print('I am an animal')

class Bird(Animal):
  def __init__(self, legs, wings):
    super().__init__(legs)
    self.wings = wings
    print('Bird created')
  def fly(self):
    print('Birds can fly')

a = Animal(4)
b = Bird(2, 2)

Animal Created
Animal Created
Bird created

In [ ]:
class point:
  def __init__(self, x, y):
    self.x = x
    self.y = y
  def distance(self, other):
    x_diff = (self.x - other.x) ** 2
    y_diff = (self.y - other.y) ** 2
    return (x_diff + y_diff) ** 0.5

class Point3D(point):
  def __init__(self, x, y, z):
    super().__init__(x, y)
    self.z = z
  def distance(self, other):
    x_diff = (self.x - other.x) ** 2
    y_diff = (self.y - other.y) ** 2
    z_diff = (self.z - other.z) ** 2
    return (x_diff + y_diff + z_diff) ** 0.5

p1 = point(3,4)
p2 = point(6,8)
print(p1.distance(p2))

p3d_1 = Point3D(3,4,5)
p3d_2 = Point3D(6,8,10)
print(p3d_1.distance(p3d_2))

5.0
7.0710678118654755

In [ ]:
while True:
  try:
    x = float(input('Enter an integer value: '))
    y = float(input('Enter another integer value: '))
    z = str(input('Enter an operator: '))
    if (x) == 'break':
      break
    elif (y) == 'break':
      break
    elif (z) == 'break':
      break
    else:
      if z == '+':
        print(x+y)
      elif z == '-':
        print(x-y)
      elif z == '*':
        print(x*y)
      elif z == '/':
        print(x/y)
      elif z == '//':
        print(x//y)
      elif z == '%':
        print(x%y)
      elif z == '**':
        print(x**y)
  except ValueError:
    print("Invalid input. Please enter a valid number.")
  except ZeroDivisionError:
    print("Error: Division by zero.")

In [ ]:
name = input('Enter your name: ')
customertype = input('Enter customer type (n: new, e:existing): ')
deposit = float(input("Enter deposit amount (in $): "))

if customertype == 'n':
  interest = .03

else:
  if deposit <= 1000:
    interest = .03
  elif deposit <=10000:
    interest = .0325
  elif deposit >10000:
    interest = .035

  total = (1+interest) * deposit
  print(total)

Enter your name: Juan
Enter customer type (n: new, e:existing): new
Enter deposit amount (in $): 30000
31049.999999999996

In [ ]:
import pprint
months = {}

numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
names = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]

for key in range(len(numbers)):
  months[numbers[key]]=names[key]

pprint.pprint(months)

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year!")
else:
    print(f"{year} is not a leap year.")

In [ ]:
L = []

number = int(input('Enter a value: '))

while number != 0:
  L.append(number)
  number = int(input('Enter a value: '))
L

In [ ]:
init_attendees = 20
fixed_cost = 200

for advertising in range(0, 201, 25):
  attendees = float(2*round(advertising**.5) + init_attendees)
  profit = float((attendees * 10) - advertising - fixed_cost)
  print(f'{advertising} ${profit}')

In [ ]:
hours = int(input('Enter number of house parked: '))
fee = 2.5 * hours
if fee <= 6:
  print(6)
elif fee>=20:
  print(20)
else:
  print(fee)

In [6]:
import random

user_choice = input("Enter your choice (rock, paper, or scissors): ")
computer_choice = random.choice(["rock", "paper", "scissors"])

print(f"You chose: {user_choice}")
print(f"Computer chose: {computer_choice}")

if user_choice == computer_choice:
    print("It's a tie!")
elif (
    (user_choice == "rock" and computer_choice == "scissors") or
    (user_choice == "paper" and computer_choice == "rock") or
    (user_choice == "scissors" and computer_choice == "paper")
):
    print("You win!")
else:
    print("Computer wins!")

Enter your choice (rock, paper, or scissors): rock
You chose: rock
Computer chose: scissors
You win!

In [ ]:
def factR(n):
    if n == 1:
      return 1
    else:
      return n * factR(n-1)

In [ ]:
def mirrorString(s):
  if len(s) == 1:
    return s
  else:
    return s[-1]+mirrorString(s[:-1])

mirrorString("string")